build/
.vs/
uf2-bootloader.elf
tmp
*.sw?
Makefile.user
node_modules
scripts/clean-ifaces/*.plist
.vscode/c_cpp_properties.json
TAGS

**/.DS_STORE
**/*.iml
**/.idea

.size_done
*.o
*.d
*.bin
*.elf
*.hex
*.map
*.swp
*.uf2
src/selfdata.c
